@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom theme colors */
.bg-dark {
  background-color: #000; /* Pure black */
}

.bg-secondary {
  background-color: #1f2937; /* Dark gray */
}

/* Custom skills card background */
.bg-skill {
  background-color: #2d2d2d; /* Dark slate */
}

.text-accent {
  color: #00bcd4; /* Neon blue accent */
}
